<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<section class="text-white text-center d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="col-12">
        <h1>Bem-vindo ao AutoControl!</h1>
        <p>registro de veiculos confiável.</p>
    </div>
</section>
<%- include('./partials/footer.ejs') %>